<div id="loading" class="container m-t-2">
  <div class="col-sm-4">
    <h5>{{heading}}</h5>
    <progress class="progress progress-striped progress-animated" value="100" max="100">{{label}}</progress>
  </div>
</div>
